##  BUSINESS PROBLEM-1

In [73]:
import pandas as pd 
import numpy as np 
import scipy.stats as ss

In [74]:
loan = pd.read_csv(r"C:\Users\ACER\Downloads\python assingments\Basic Statistics - Hypothesis Testing\LoansData.csv")
loan

,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [75]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount.Requested                2499 non-null   float64
 1   Amount.Funded.By.Investors      2499 non-null   float64
 2   Interest.Rate                   2498 non-null   object
 3   Loan.Length                     2500 non-null   object
 4   Loan.Purpose                    2500 non-null   object
 5   Debt.To.Income.Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home.Ownership                  2499 non-null   object
 8   Monthly.Income                  2499 non-null   float64
 9   FICO.Range                      2498 non-null   object
 10  Open.CREDIT.Lines               2497 non-null   float64
 11  Revolving.CREDIT.Balance        2497 non-null   float64
 12  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 13  Employment.Length               2423 non-null   object
dtypes: float64(6), object(8)
memory usage: 273.6+ KB

## a. Intrest rate is varied for different loan amounts (Less intrest charged for high loan amounts)

In [76]:
loan.columns = [i.replace(".","_") for i in loan.columns]

In [77]:
loan

,Amount_Requested,Amount_Funded_By_Investors,Interest_Rate,Loan_Length,Loan_Purpose,Debt_To_Income_Ratio,State,Home_Ownership,Monthly_Income,FICO_Range,Open_CREDIT_Lines,Revolving_CREDIT_Balance,Inquiries_in_the_Last_6_Months,Employment_Length
0,20000.0,20000.00,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14.0,14272.0,2.0,< 1 year
1,19200.0,19200.00,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12.0,11140.0,1.0,2 years
2,35000.0,35000.00,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14.0,21977.0,1.0,2 years
3,10000.0,9975.00,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10.0,9346.0,0.0,5 years
4,12000.0,12000.00,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11.0,14469.0,0.0,9 years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,30000.0,29950.00,16.77%,60 months,debt_consolidation,19.23%,NY,MORTGAGE,9250.00,705-709,15.0,45880.0,1.0,8 years
2496,16000.0,16000.00,14.09%,60 months,home_improvement,21.54%,MD,OWN,8903.25,740-744,18.0,18898.0,1.0,10+ years
2497,10000.0,10000.00,13.99%,36 months,debt_consolidation,4.89%,PA,MORTGAGE,2166.67,680-684,4.0,4544.0,0.0,10+ years
2498,6000.0,6000.00,12.42%,36 months,major_purchase,16.66%,NJ,RENT,3500.00,675-679,8.0,7753.0,0.0,5 years
2499,9000.0,5242.75,13.79%,36 months,debt_consolidation,6.76%,NY,RENT,3875.00,670-674,7.0,7589.0,0.0,10+ years

In [78]:
loan.Interest_Rate = loan.Interest_Rate.astype("str")
loan.Interest_Rate = [i.replace("%","") for i in loan.Interest_Rate]

In [79]:
loan.Interest_Rate = loan.Interest_Rate.astype("float")

In [80]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Amount_Requested                2499 non-null   float64
 1   Amount_Funded_By_Investors      2499 non-null   float64
 2   Interest_Rate                   2498 non-null   float64
 3   Loan_Length                     2500 non-null   object
 4   Loan_Purpose                    2500 non-null   object
 5   Debt_To_Income_Ratio            2499 non-null   object
 6   State                           2500 non-null   object
 7   Home_Ownership                  2499 non-null   object
 8   Monthly_Income                  2499 non-null   float64
 9   FICO_Range                      2498 non-null   object
 10  Open_CREDIT_Lines               2497 non-null   float64
 11  Revolving_CREDIT_Balance        2497 non-null   float64
 12  Inquiries_in_the_Last_6_Months  2497 non-null   float64
 13  Employment_Length               2423 non-null   object
dtypes: float64(7), object(7)
memory usage: 273.6+ KB

In [81]:
loan.Amount_Funded_By_Investors[loan.Amount_Funded_By_Investors.isna()] = 12002.37

<ipython-input-81-98120df6628b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Amount_Funded_By_Investors[loan.Amount_Funded_By_Investors.isna()] = 12002.37

In [82]:
loan.Interest_Rate[loan.Interest_Rate.isna()]  = 13.06

<ipython-input-82-8453da17a226>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Interest_Rate[loan.Interest_Rate.isna()]  = 13.06

In [83]:
ss.pearsonr(loan.Amount_Funded_By_Investors, loan.Interest_Rate)

(0.33742620357376196, 1.2769711120946412e-67)

In [84]:
## as by this we can say that as P value is less than 0.05 we can't reject the null hypothesis 
# and so there is less relation between Amount funded by Investors vs Interest rate and 
## the hypothesis  which is (Less intrest charged for high loan amounts) is false.

## b. Loan length is directly effecting intrest rate.

In [85]:
loan.Loan_Length = [i.replace(" months", "") for i in loan.Loan_Length]

In [86]:
loan.Loan_Length= loan.Loan_Length.astype("int")

In [87]:
ss.pearsonr(loan.Loan_Length , loan.Interest_Rate)

(0.424172470985792, 9.54283923265893e-110)

In [88]:
## as by this we can say that as P value is less than 0.05 we can't reject the null hypothesis 
# and so there is less relation between Loan length vs Interest rate and 
# so ,this hypothesis ( Loan length is directly effecting intrest rate) is false.

## c. Inrest rate varies for different purpose of loans

In [89]:
loan.Loan_Purpose.value_counts()
loan.Loan_Purpose =  loan.Loan_Purpose.astype("str")

In [90]:
loan.Loan_Purpose[loan.Loan_Purpose == "debt_consolidation" ] = 1
loan.Loan_Purpose[loan.Loan_Purpose == "credit_card" ] = 2
loan.Loan_Purpose[loan.Loan_Purpose == "home_improvement" ] = 3
loan.Loan_Purpose[loan.Loan_Purpose == "major_purchase" ] = 4
loan.Loan_Purpose[loan.Loan_Purpose == "small_business" ] = 5
loan.Loan_Purpose[loan.Loan_Purpose == "car" ] = 6
loan.Loan_Purpose[loan.Loan_Purpose == "wedding" ] = 7
loan.Loan_Purpose[loan.Loan_Purpose == "medical" ] = 8
loan.Loan_Purpose[loan.Loan_Purpose == "moving" ] = 9
loan.Loan_Purpose[loan.Loan_Purpose == "vacation" ] = 10
loan.Loan_Purpose[loan.Loan_Purpose == "house" ] = 11
loan.Loan_Purpose[loan.Loan_Purpose == "educational" ] = 12
loan.Loan_Purpose[loan.Loan_Purpose == "renewable_energy" ] = 13
loan.Loan_Purpose[loan.Loan_Purpose == "other" ] = 14

<ipython-input-90-9cb0ed676ac0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "debt_consolidation" ] = 1
<ipython-input-90-9cb0ed676ac0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "credit_card" ] = 2
<ipython-input-90-9cb0ed676ac0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "home_improvement" ] = 3
<ipython-input-90-9cb0ed676ac0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "major_purchase" ] = 4
<ipython-input-90-9cb0ed676ac0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "small_business" ] = 5
<ipython-input-90-9cb0ed676ac0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "car" ] = 6
<ipython-input-90-9cb0ed676ac0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "wedding" ] = 7
<ipython-input-90-9cb0ed676ac0>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "medical" ] = 8
<ipython-input-90-9cb0ed676ac0>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "moving" ] = 9
<ipython-input-90-9cb0ed676ac0>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "vacation" ] = 10
<ipython-input-90-9cb0ed676ac0>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "house" ] = 11
<ipython-input-90-9cb0ed676ac0>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "educational" ] = 12
<ipython-input-90-9cb0ed676ac0>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "renewable_energy" ] = 13
<ipython-input-90-9cb0ed676ac0>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.Loan_Purpose[loan.Loan_Purpose == "other" ] = 14

In [91]:
loan.Loan_Purpose = loan.Loan_Purpose.astype("int")

In [92]:
ss.f_oneway( loan.Interest_Rate, loan.Loan_Purpose)

F_onewayResult(statistic=7511.3488399667385, pvalue=0.0)

In [93]:
## as the p value is zero there is no relation between Interest rate and loan Purpose and the 
## Hypothsis is true that interest rate is different for different loan purpose

## d. There is relationship between FICO scores and Home Ownership. It means that, People with owning home will have high FICO scores.

In [94]:
loan.Home_Ownership.value_counts()
loan.Home_Ownership = loan.Home_Ownership.fillna("MORTGAGE")

In [95]:
loan.Home_Ownership = np.where(loan.Home_Ownership=="MORTGAGE",1,np.where(loan.Home_Ownership=="Rent",2,np.where(loan.Home_Ownership=="OWN",3,4)))

In [96]:
loan.FICO_Range[loan.FICO_Range.isna()] = "670-674"

<ipython-input-96-1c5b564446ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan.FICO_Range[loan.FICO_Range.isna()] = "670-674"

In [97]:
x_new = pd.DataFrame( {"first":((loan.FICO_Range).str.split("-", expand = True)[0]),"second":((loan.FICO_Range).str.split("-", expand = True)[1])} )

In [98]:
x_new["first"]= x_new["first"].astype("float")
x_new["second"]= x_new["second"].astype("float")

In [99]:
loan["FICO_Avg_Score"]= (x_new["first"] + x_new["second"])/2

In [100]:
ss.f_oneway(loan.FICO_Avg_Score, loan.Home_Ownership)

F_onewayResult(statistic=1011093.353390836, pvalue=0.0)

In [101]:
### As pvalue is zero so , we can say that there is no relationship between FICO scores and Home Ownership

## BUSINESS PROBLEM - 2 
## We would like to assess if there is any difference in the average price quotes provided by Mary and Barry.

In [102]:
price = pd.read_csv(r"C:\Users\ACER\Downloads\python assingments\Basic Statistics - Hypothesis Testing\Price_Quotes.csv")
price

    Order_Number  Barry_Price  Mary_Price
0              1          126         114
1              2          110         118
2              3          138         114
3              4          142         111
4              5          146         129
5              6          136         119
6              7           94          97
7              8          103         104
8              9          140         127
9             10          152         133
10            11          108         103
11            12           97         108

In [103]:
ss.ttest_rel(price.Barry_Price, price.Mary_Price)

Ttest_relResult(statistic=2.521376510892349, pvalue=0.02840588045242053)

In [104]:
### As the p value is less than 0.05 we can say that the average price quotes provided by Mary and Barry are different 
## as we can reject null hypothesis and accept alternative hypothesis.

## BUSINESS PROBLEM-3:

In [105]:
## Determine what effect, if any, the reengineering effort had on the incidence behavioral problems and staff turnover. 
##i.e To determine if the reengineering effort changed the critical incidence rate. Isthere evidence that the 
## critical incidence rate improved?

In [106]:
treatment_fac = pd.read_csv(r"C:\Users\ACER\Downloads\python assingments\Basic Statistics - Hypothesis Testing\Treatment_Facility.csv")

In [107]:
treatment_fac.rename({"VAR4":"TRFF", "VAR5":"CI"},axis=1, inplace=True)
treatment_fac

    Month Reengineer  Employee_Turnover       TRFF          CI
0       1      Prior             0.0000  24.390244   42.682927
1       2      Prior             6.0606  19.354839   25.806452
2       3      Prior            12.1212  35.087719  146.198830
3       4      Prior             3.3333  18.404908  110.429448
4       5      Prior            12.9032  17.964072   23.952096
5       6      Prior             9.6774  41.176471   47.058824
6       7      Prior            11.7647  13.422819    0.000000
7       8      Prior            11.4286  31.250000   25.000000
8       9      Prior            23.0769  17.241379  132.183908
9      10      Prior            15.0000  16.574586   16.574586
10     11      Prior            10.0000   5.917160   88.757396
11     12      Prior            26.0870  21.164021   31.746032
12     13      Prior            11.1111   5.076142   10.152284
13     14       Post            26.6667   9.708738   29.126214
14     15       Post            17.9487   4.201681   21.008403
15     16       Post            12.8205  13.043478   34.782609
16     17       Post            15.7895   9.950249   19.900498
17     18       Post             0.0000   9.950249    9.950249
18     19       Post            30.7692   8.510638   25.531915
19     20       Post            26.8293   9.259259   23.148148

In [108]:
treatment_fac_prior = treatment_fac[treatment_fac.Reengineer == "Prior"]
treatment_fac_post = treatment_fac[treatment_fac.Reengineer == "Post"]

In [109]:
print(treatment_fac_prior.Employee_Turnover.mean())
print(treatment_fac_post.Employee_Turnover.mean())

11.735692307692307
18.68912857142857

In [110]:
## AS we can see that before reengineering effort the avg employee turnover is less than post so, we can say that 
## reengineering effort have negative effect on employee turnover

In [111]:
print(treatment_fac_prior.CI.mean())
print(treatment_fac_post.CI.mean())

53.887906321846145
23.34971927988571

In [112]:
## As we can see that before reengineering effort the avg CI is more , so we can say that 
## reengineering effort have positive effect on critical incidence rate as it imporved (critical incidence rate decreased)

## BUSINESS PROBLEM-4

In [113]:
#We will focus on the prioritization system. If the system is working, then high priority jobs, on average, 
#should be completed more quickly than medium priority jobs,and medium priority jobs should be completed 
#more quickly than low priority jobs. Use the data provided to determine whether thisis, in fact, occurring.

In [114]:
priority = pd.read_csv(r"C:\Users\ACER\Downloads\python assingments\Basic Statistics - Hypothesis Testing\Priority_Assessment.csv")
priority

     Days Priority
0     3.3     High
1     7.9   Medium
2     0.3     High
3     0.7   Medium
4     8.6   Medium
..    ...      ...
637   2.5      Low
638   0.3     High
639   0.3   Medium
640   1.3   Medium
641   0.5     High

[642 rows x 2 columns]

In [115]:
priority.groupby("Priority").agg(avg = ("Days", "mean"))

               avg
Priority
High      3.023620
Low       4.228358
Medium    2.500000

In [116]:
## So, the Hypothisis is wrong as High priority jobs takes more time as compare to medium priority

## BUSINESS PROBLEM-5

In [117]:
films = pd.read_csv(r"C:\Users\ACER\Downloads\python assingments\Basic Statistics - Hypothesis Testing\Films.csv")
films

,_rowstate_,Movie,Gender,Marital_Status,Sinage,Parking,Clean,Overall,Age,Income,Hear_About
0,0,Ferris Buellers Day Off,Female,Married,2.0,2.0,2.0,2.0,3.0,1.0,5
1,0,Ferris Buellers Day Off,Female,Single,1.0,1.0,1.0,1.0,2.0,1.0,5
2,0,Ferris Buellers Day Off,Male,Married,2.0,4.0,3.0,2.0,4.0,1.0,5
3,0,Ferris Buellers Day Off,Female,Married,1.0,3.0,2.0,2.0,4.0,1.0,5
4,0,Ferris Buellers Day Off,Female,Married,1.0,1.0,1.0,1.0,3.0,3.0,1
...,...,...,...,...,...,...,...,...,...,...,...
325,0,Old School,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1
326,0,Old School,1,1,2.0,2.0,2.0,2.0,3.0,3.0,5
327,0,Old School,2,1,2.0,1.0,1.0,2.0,2.0,2.0,5
328,0,Old School,1,1,1.0,1.0,1.0,1.0,2.0,1.0,3
329,0,Old School,2,2,2.0,2.0,3.0,1.0,2.0,1.0,5

## BUSINESS PROBLEM: Use the survey results to address the following questions
## A.  What isthe overall level of customer satisfaction?

In [119]:
films.Overall.mode()

## The overall level of customer satisfaction is good.

0    2.0
dtype: float64

## What factors are linked to satisfaction?

In [121]:
print(films.Parking[films.Sinage ==1].count())
print(films.Parking[films.Parking ==1].count())
print(films.Parking[films.Clean ==1].count())


## The factors which is linked to most satisfaction is Clean

113
135
144

## What is the demographic profile of Film on the Rocks patrons?

In [123]:
films.Gender[films.Gender == "Male"] = '1'
films.Gender[films.Gender == "Female"] = "2"

<ipython-input-123-ea2675b01eae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Gender[films.Gender == "Male"] = '1'

In [125]:
films.Gender.value_counts()

2    213
1    117
Name: Gender, dtype: int64

In [136]:
films.Marital_Status[films.Marital_Status == "Married"] = '1'
films.Marital_Status[films.Marital_Status == "Single"] = '2'
films.Marital_Status[films.Marital_Status == 'Slngle'] ='2'

<ipython-input-136-0feb67da542d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Marital_Status[films.Marital_Status == "Married"] = '1'
<ipython-input-136-0feb67da542d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Marital_Status[films.Marital_Status == "Single"] = '2'
<ipython-input-136-0feb67da542d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  films.Marital_Status[films.Marital_Status == 'Slngle'] ='2'

In [137]:
films.Marital_Status.value_counts()

2    228
1    100
Name: Marital_Status, dtype: int64

In [145]:
films.Movie.value_counts()

Willy Wonka                161
Ferris Buellers Day Off    137
Old School                  32
Name: Movie, dtype: int64

In [150]:
films_Willy_Wonka= films[films.Movie == "Willy Wonka"]
films_Ferris_Buellers_DayOff= films[films.Movie == "Ferris Buellers Day Off"]
films_Old_School= films[films.Movie == "Old School"]

In [161]:
## for willy wonka 
print(films_Willy_Wonka.Gender.mode())
print(films_Willy_Wonka.Marital_Status.mode())
print(films_Willy_Wonka.Age.mode())
print(films_Willy_Wonka.Income.mode())

0    2
dtype: object
0    2
dtype: object
0    2.0
dtype: float64
0    1.0
dtype: float64

In [160]:
## for Ferris_Buellers_DayOff
print(films_Ferris_Buellers_DayOff.Gender.mode())
print(films_Ferris_Buellers_DayOff.Marital_Status.mode())
print(films_Ferris_Buellers_DayOff.Age.mode())
print(films_Ferris_Buellers_DayOff.Income.mode())

0    2
dtype: object
0    2
dtype: object
0    2.0
dtype: float64
0    1.0
dtype: float64

In [162]:
## for Old_School 
print(films_Old_School.Gender.mode())
print(films_Old_School.Marital_Status.mode())
print(films_Old_School.Age.mode())
print(films_Old_School.Income.mode())

0    2
dtype: object
0    2
dtype: object
0    2.0
dtype: float64
0    1.0
dtype: float64

In [ ]:
## for all films the demographic is  watched by female mostly, of marital status single, with age group between 13-30 
## and with the invome of less than 50,000$

## In what media outlet(s) should the film series be advertised?

In [170]:
films.Hear_About.value_counts()

## media outlet(s) should the film series to be advertised should be 1st perference need to be given to (word of mouth) and 
## second should be given to website.

5      226
4       41
1       22
3       14
2       12
3,4      2
2,5      2
3,5      1
1,5      1
4,5      1
5,4      1
Name: Hear_About, dtype: int64